@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

body {
  background-color: $green_tea;
  color: $charcoal;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration: none;
}

.btn-custom {
  background-color: $pale;
  color: $salmon;
}

.btn:hover {
  background-color: $sky;
  color: $olive;
}

.navbar {
  background-color: $olive;
  a {
    color: $pale;
  }
  a:hover {
    color: $sky;
    text-decoration: none;
  }
}

.table-custom {
  background-color: $pale;
  td {
    vertical-align: middle;
    text-align: left;
  }
  th {
    background-color: $sky;
    vertical-align: middle;
    text-align: center;
  }
}

.center-align {
  text-align: left;
}

.font-olive {
  color: $olive;
}

.font-moss {
  color: $moss;
}

.font-pale {
  color: $pale;
}

.font-sky {
  color: $sky;
}

.font-cerulean {
  color: $cerulean;
}

.font-charcoal {
  color: $charcoal;
}

.font-salmon {
  color: $salmon;
  text-align: right;
}