.MedList {
    display: block;
}

h1 {
    margin: 1.5rem;
}

.table-custom table {
    padding: 0;
}

.table th, .table td {
    padding: 0.25rem 1rem;
}

.btn-custom {
    margin-bottom: 1rem;
}

div {
    padding: 0;
}